<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Create a note
              
    body
        button#list(type="button") list all notes
        button#create(type="button") create a note
        button#delete(type="button") delete a note
        br
        div.create-div(style="display:none")
            div
                label Title:
                br
                input#title.form-control(type='text' name='title' value = '')
            div
                label Body:
                br
                input#body.form-control(type='text' name='body' value = '')
                br
                button#button(type='button' name='button') Create a note
        
        div.delete-div(style="display:none")
            label Title:
            br
            input#title-delete(type="text" name="title")
            br
            button#button-del(type='button') delete the note

        div.list-div(style="display:none")
            p#notes
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script
            include noteRequests.js

        


